<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all-cards.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/all-cards">All Cards</a>
            </li>
        </ul>
        <br>
    </nav>
    <main>
        <div class="container">
            <% cards.forEach(card => { %>
            <div class="card">
                <img src="<%= card.img %>" alt="<%= card.name %>">
                <p><%= card.name %></p>
                <button><a href="/card/more-info/<%= card.id %>">More-info</a></button>
            </div>
            <% }) %>
        </div>
    </main>
</body>

</html>