<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/add-card-form.css">
    <title>Document</title>
</head>

<body>
    <form id="msform" action="/admin/add-card" method="POST">
        <fieldset>
            <h2 class="fs-title">Add Clash Royale Card</h2>
            <h3 class="fs-subtitle">Hello Admin Please Add a Clash Royale Card Through This Form</h3>
            <input type="text" name="cardName" placeholder="Card Name" />
            <input type="text" name="imageUrl" placeholder="Image Url" />
            <input type="submit" name="next" class="next action-button" value="Add Card" />
        </fieldset>
</body>

</html>